* {
  box-sizing: border-box;
}

.project {
  font-size: 2rem;
}

.stuff {
margin-left: auto;
margin-right: auto;
}

a {
color: inherit;
}


html {
  background: rgb(200,196,135);
  background: radial-gradient(circle, rgba(200,196,135,1) 1%, rgba(168,138,77,1) 13%, rgba(150,79,146,1) 22%, rgba(19,111,124,1) 35%, rgba(39,106,116,1) 42%, rgba(32,62,108,1) 61%, rgba(55,32,76,1) 84%, rgba(51,25,64,1) 94%);
  
  background-size: cover;
  background-position: top center;
}

.hero:hover {
  background-color: rgba(25, 255, 140, 0.2);
  box-shadow: 0 0 50px 20px rgba(106, 255, 248, 0.2);
  border: none;
  transition: .5s;
}

body {
  
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

.heading {
  font-family: 'Alata', sans-serif;
  font-family: 'Alatsi', sans-serif;
  font-family: 'Anton', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Odibee Sans', cursive;
  font-family: 'Julius Sans One', sans-serif;
  color: rgba(245, 245, 245, .7);
  margin-bottom: 45px;
  font-size: 1.7rem;
}

h2 {
  font-family: 'Alata', sans-serif;
  font-family: 'Alatsi', sans-serif;
  font-family: 'Anton', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Odibee Sans', cursive;
  font-family: 'Julius Sans One', sans-serif;
}

.profile img {
  padding: 10px;
  border-radius: 100%;
  display: block;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 110px;
  border: 1px solid rgba(255, 255, 255, 0.246);
  background-color: rgba(255, 255, 255, .08);
}

nav {
display: inline;

}

ul {
  color: rgba(89, 236, 255, 0.2);
  list-style-type: none;
  display: flex;
  justify-content:space-between;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0;
}

ol li {
  list-style-type: none;
}

ul li {
  border: 5px solid rgba(221, 255, 251, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul i {
  font-size: 1.2em;
  color: rgba(221, 255, 251, 0.5);
  margin-top: 7px;
}

li:hover {
  transform: scale(2.05);
  transition: .25s;
}

nav,
footer {
  padding: 1% 0;
  color: rgba(245, 245, 245, .7);
}

.bio {
  color: rgba(245, 245, 245, .7);
  margin-bottom: 30px;
  line-height: 2.3;
  font-family: 'Crimson Text', serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.3rem;
}

.contact {
  color: rgba(245, 245, 245, .7);
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  font-family: 'Crimson Text', serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;

  
  animation-name: color;
  animation-duration: 3.3s;
  animation-iteration-count: 2;
}

@keyframes color {
  0% {
    background-color: rgba(175, 253, 217, 0.013);
    
  }
  50% {
    background-color: rgba(60, 253, 227, 0.3);
    
  }
  100% {
    
  }
}

.container {
  font-family: 'Crimson Text', serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgba(245, 245, 245, .8);
}

#thegridofdestiny {

  /* delete til here */
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  min-height: 100%;
  margin: 10px 0 10px;
}

#thegridofdestiny > div {
  
  width: 400px;  
  padding: 20px;
  margin-bottom: 15px;
}

#thegridofdestiny img {
  border: 3px solid rgba(255, 255, 255, .3);
}

.item:hover {
  transform: scale(1.05);
  transition: .2s;
  box-shadow: 0 0 50px 20px rgba(2, 2, 2, 0.3);
  background-color: rgba(2, 2, 2, 0.3);
}

footer {
font-family: 'Crimson Text', serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}


/*    ********for the profile click      */
.heroExpand {
margin-top: 5%;
background-color:rgba(2, 2, 2, 0.3);
padding: 30px;
height: 550px;
margin-left: auto;
margin-right: auto;
position: relative;
text-align: center;
color: rgba(255, 255, 255, .85);
}

.heroExpand img {
visibility: hidden;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
    width: 200px;
    height: 200px;
    opacity: .3;
}

.heroExpand ol {
list-style-type: none;
margin-right: 25px;
}

.insideText {
position: absolute;
width: 70%;
height: 70%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.x {
float: right;
margin-bottom: 10px;
font-size: 1.2rem;
}

/* ************************************** */





@media only screen and (min-width:600px) {
      main {
          margin-left: 10%;
          margin-right: 10%;
        }
 
  .item:hover {
  transform: scale(1.02);
}

  ul {
    width: 400px;
  }

  .heroExpand img {
    visibility: visible;
    width: 400px;
    height: 400px;
  }


}
@media only screen and (min-width:1400px) {
  main {
      margin-left: 15%;
      margin-right: 15%;
    }
 
  .item:hover {
  transform: scale(1.07);
}

ul {
  width: 600px;
}

.heroExpand {
  height: 725px;
}

.heroExpand img {
  visibility: visible;
  width: 550px;
  height: 550px;
}


}
